<div class="container">

  <div class="row">
    <h1>Ratata</h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label for="total">Total</label>
      <input class="form-control" type="text" id="total" [(ngModel)]="total" />
    </div>
    <div class="col-md-8">
      <label for="resta">Resta</label>
      <input class="form-control" id="resta" [disabled]="true" value="{{ getResta() | number:'1.2-2' }}" />
    </div>
  </div>

  <hr/>

  <div class="form-group">
    <div id="novo_doador">
      <div class="row">
        <div class="col-md-2"><label for="nomeDoador">Doador:</label></div>
        <div class="col-md-2"><input type="text" id="nomeDoador" [(ngModel)]="nomeDoador" /></div>
      </div>

      <div class="row">
        <div class="col-md-2"><label for="valorDoado">Valor:</label></div>
        <div class="col-md-2"><input type="number" id="valorDoado" pattern="^\d+(\.|\,)\d{2}$" [(ngModel)]="valorDoado" /></div>
      </div>

      <div>
        <button class="btn btn-primary" [disabled]="!isCamposValidos()" (click)="onAdicionarClicado()">Adicionar</button>
      </div>
    </div>
  </div>

  <hr/>

  <div id="doadores">
    <table class="table">
      <thead>
        <tr>
          <th>Doador</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doador of doadores">
          <th>{{ doador.nomeDoador }}</th>
          <th>{{ doador.valorDoado | number:'1.2-2' }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
